<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Busqueda de libros</title>
</head>
<body>
<h1>Formulario de busqueda de libros</h1>

<form th:action="@{/buscar}" method="post" th:object="${datosLibros}">
    <input type="text" th:field="*{titulo}" placeholder="titulo/autor" required/>
    <button type="submit">Buscar Libro</button>
</form>

<table th:if="${#lists.isEmpty(resultados) == false}">
    <thead>
    <tr>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Año</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="libro : ${resultados}">
        <td th:text="${libro.titulo}"></td>
        <td th:text="${libro.autor}"></td>
        <td th:text="${libro.anio}"></td>
    </tr>
    </tbody>
</table>

    <p th:if="${#lists.isEmpty(resultados)}">No se encontraron resultados!</p>
</body>
</html>